
<div class="jumbotron">
    <h1>GameCo Stock List</h1>
</div>

<div class="row">

    <div class="col-md-6">
        <h2>What We Are About</h2>
        <p>
            GameCo is all about the games! Want to buy or sell? Want to see what's new and exciting? How about the classics?
            If you want it, GameCo has it! All at affordable prices!
        </p>
    </div>

    <div class="col-md-6">
        <h2>How to Get Started</h2>
        <p>
            To view our current stock of available titles, click the button below.
        </p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Game")'" class="btn">Game Stock List</button>
    </div>

</div>